<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Style Guide</title>
    <meta name="description" content="Living style guide" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../theme/stylesheet.css" />
</head>
<body>
    <header class="body-header">
        <div class="container">
            <h1>Living Style Guide</h1>
        </div>
    </header>

    <div class="body-content">
        <div id="main" class="container">

            <div class="row">
                <div class="col-sm-6">

                    <div class="card">
                        <img src="../theme/img/test_image.jpg" alt="Test image" />
                        <h2 class="card-heading-main">Card Heading</h2>
                        <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa, cumque neque vel error nostrum! Sapiente rem qui itaque, ipsa reiciendis explicabo? Adipisci odit iste sint, ratione est voluptate vel.</div>
                        <div class="card-content">http://example.com/styles/discussion/template/index.html</div>
                        <div class="card-footer">Footer</div>
                    </div>

                    <div class="card">
                        <h2 class="card-heading-main">Card heading</h2>
                        <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos temporibus delectus quaerat sunt quo sed repellat beatae officia aliquid, consequuntur tempora cumque repellendus quod voluptate soluta neque cum. Amet, enim.</div>
                    </div>

                    <div class="card">
                        <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum magni cumque quibusdam numquam assumenda velit ex iste, ipsa alias doloremque tempora, vel eveniet autem incidunt. Nemo fugit excepturi reiciendis dolores.</div>
                    </div>

                    <div class="card">
                        <hgroup class="card-heading">
                            <h2 class="card-heading-main">Card Main Heading</h2>
                            <h3 class="card-heading-sub">Card Subheading</h3>
                        </hgroup>
                        <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa, cumque neque vel error nostrum! Sapiente rem qui itaque, ipsa reiciendis explicabo? Adipisci odit iste sint, ratione est voluptate vel.</div>
                        <div class="card-footer">Footer</div>
                    </div>

                    <div class="card">
                        <div class="media">
                            <div class="media-object media-object-sm media-object-circle">
                                <img src="../theme/img/test_image.jpg" alt="Test image" />
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">Media heading</h2>
                                <h3 class="media-subheading">Media sub heading</h3>
                                <div class="media-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt facilis consequuntur optio excepturi corporis, officia id mollitia minima, hic repellendus ipsum quae qui, omnis dolorem neque incidunt laudantium ducimus! Iure!</div>
                            </div>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="card">
                        <div class="card-object">
                            <img src="../theme/img/test_image.jpg" alt="Test image" />
                            <h2 class="card-object-caption">Object caption on top of image</h2>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-object">
                            <iframe class="card-object-item" src="//www.youtube.com/embed/eGwuoYKhqx8?list=PLzjFbaFzsmMQJsqChYuiaL_rqFKBcMwuO" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <h2 class="card-heading-main">Card List</h2>
                        <ul class="card-list">
                            <li class="card-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed quisquam eum. Quos possimus cumque soluta sapiente, unde, ipsam voluptatibus, ea repellat perferendis fuga illo ullam itaque vel nobis maiores.</li>
                            <li class="card-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis libero beatae nesciunt quis at est reiciendis ratione ad aperiam pariatur, voluptatum velit autem, non iusto dolorum incidunt et modi cum.</li>
                            <li class="card-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vel consequuntur mollitia facilis fugit suscipit quas sunt voluptas sapiente optio. Impedit odit animi at dolorum in omnis nostrum accusantium modi.</li>
                            <li class="card-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores rem veritatis consequatur accusamus accusantium culpa, fugit omnis saepe ducimus fuga odio explicabo perspiciatis quas delectus hic illo, eaque beatae nam?</li>
                        </ul>
                        <div class="card-footer">Footer</div>
                    </div>

                    <div class="card">
                        <h2 class="card-heading-main">Card Gallery</h2>
                        <ul class="card-gallery">
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                            <li class="card-gallery-item"><div class="card-object"><img src="../theme/img/test_image.jpg" alt="Test image" /></div></li>
                        </ul>
                        <div class="card-footer">Footer</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="body-footer">
        <div class="container">
            <div class="text-center">
                Developed and designed by <a href="https://xtreamwayz.github.io/">XtreamWayz</a>.
            </div>
            <br />
            <div class="text-center">
                <small>
                    Except where otherwise noted, this work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://xtreamwayz.github.io/" property="cc:attributionName" rel="cc:attributionURL">Geert Eltink</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </small>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="../theme/js/jquery.min.js" />
    <link rel="stylesheet" href="../theme/js/plugins.min.js" />
</body>
</html>
