#
# phpBB Style Configuration File
#
# @copyright (c) Geert Eltink <https://gpeltink.github.io>
# @license GNU General Public License, version 2 (GPL-2.0)
#
# At the left is the name, please do not change this
# At the right the value is entered
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#

# General Information about this style
name = discussions
copyright = Copyright (c) 2014 Geert Eltink. All rights reserved.
style_version = 0.0.1
phpbb_version = 3.1.0

# Defining a different template bitfield
# template_bitfield = lNg=

# Parent style
# Set value to empty or to this style's name if this style does not have a parent style
parent = prosilver
